@charset "utf-8";

/* --------------------------------
 * base
 * -------------------------------- */

html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* --------------------------------
 * layout
 * -------------------------------- */

.header {
  width: 100%;
}

.main {
  display: block;
  width: 100%;
}

.footer {
  width: 100%;
}

.innerContent {
  max-width: 1020px;
  margin: 0 auto 20px;
  padding: 20px 10px;
}

.about,
.works,
.skills,
.contact {
  margin-bottom: 20px;
}

/* 表示確認用の記述（後で削除する） */
.innerContent {
  border: 1px solid #aaa;
  background-color: #ccc;
}

/* --------------------------------
 * header
 * -------------------------------- */

.logo {
  width: 30%;
  height: 30px;
  line-height: 30px;
  font-size: 3rem;
  float: left;
}

.nav {
  width: 70%;
  float: right;
}

.sp-menu {
  display: none;
}

.navInner .gnav {
  float: right;
  width: 70%;
}

.navInner .gnav .navItem {
  width: 20%;
  font-weight: bold;
  display: inline-block;
  padding-right: 5px;
}
.navInner .gnav .navItem a {
  width: 100%;
  font-size: 1.5rem;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
}