@charset "UTF-8";
/* ----------------------------------------------------------
	共通	
---------------------------------------------------------- */
* p {
  letter-spacing: normal;
}

* input, * select {
  -webkit-appearance: none;
}

/* ----------------------------------------------------------
	ヘッダー	
---------------------------------------------------------- */
header {
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
header .innerContent {
  padding: 5px 0 0 5px;
  width: 100%;
}

.gnav {
  background: transparent;
  border: none;
}
.navMenu .sp-menu {
  display: block;
  padding: 14px;
  background: #eee;
  border: 0;
  cursor: pointer;
  outline: 0px;
}
.navMenu .sp-menu .menu-icon {
  display: inline-block;
  vertical-align: -.2em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.navMenu .sp-menu .menu-icon span {
  display: block;
  width: 20px;
  height: 2px;
  background: #A8B3B3;
  margin-bottom: 4px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.navMenu .sp-menu .menu-icon span:last-child {
  margin-bottom: 0;
}
.navMenu .sp-menu .menu-icon.active {
  -webkit-transform: translateY(0px) rotate(-45deg);
  -moz-transform: translateY(0px) rotate(-45deg);
  -ms-transform: translateY(0px) rotate(-45deg);
  -o-transform: translateY(0px) rotate(-45deg);
  transform: translateY(0px) rotate(-45deg);
}
.navMenu .sp-menu .menu-icon.active .bar1 {
  -webkit-transform: rotate(0deg) translateY(6px);
  -moz-transform: rotate(0deg) translateY(6px);
  -ms-transform: rotate(0deg) translateY(6px);
  -o-transform: rotate(0deg) translateY(6px);
  transform: rotate(0deg) translateY(6px);
}
.navMenu .sp-menu .menu-icon.active .bar2 {
  opacity: 0;
}
.navMenu .sp-menu .menu-icon.active .bar3 {
  -webkit-transform: rotate(-90deg) translateX(6px);
  -moz-transform: rotate(-90deg) translateX(6px);
  -ms-transform: rotate(-90deg) translateX(6px);
  -o-transform: rotate(-90deg) translateX(6px);
  transform: rotate(-90deg) translateX(6px);
  margin: 0;
}
.navMenu {
  width: auto;
  float: right;
}
.navMenu .gnav {
 /* display: none;*/
  width: 100%;
  position: absolute;
  left: 0;
  top: 62px;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.98);
}
.navMenu .gnav li {
  width: 100%;
  float: none;
  display: block;
  text-align: right;
  border-right: none;
}
.navMenu .gnav li a {
  padding: 10px 20px;
  border: 0px;
  text-align: left;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
  color: #000;
}
.navMenu .gnav {
  display: none;
}
.navMenu .gnav li a:before {
  content: attr(data-label);
}
.navMenu .gnav li:first-child {
  border-left: none;
}

/* --------------------------------
 * header
 * -------------------------------- */

.header .innerContent {
  padding: 10px 0;
}
.logo {
  color: #5E5E5E;
  width: 30%;
  height: 30px;
  line-height: 30px;
  font-size: 3rem;
  float: left;
  display: none;
}

.nav {
  width: auto;
  float: right;
  margin-right: 5px;
}

.navInner .gnav {
  width: 100%;
}

.navInner .gnav .navItem {
  width: 25%;
  font-weight: bold;
  display: inline-block;
}
.navInner .gnav .navItem a {
  width: 100%;
  font-size: 1.5rem;
  line-height: 30px;
  text-align: center;
  display: block;
  padding: 5px 5px 5px 0;
}

.navInner .gnav .navItem a.current,
.navInner .gnav .navItem a:hover {
  border-radius: 0;
}


/* ----------------------------------------------------------
	コンテンツ
---------------------------------------------------------- */
.column-Box {
  margin: 0 0 20px;
  padding: 0 10px;
}
.column-Box h2 {
  font-size: 20px;
  font-size: 2rem;
}

#main .mainInner {
  max-width: none;
}


/* --------------------------------
 * about
 * -------------------------------- */
.about {
  width: 100%;
  margin: 0 auto 80px;
}
.about .about-info {
  width: 100%;
}
.about .about-info .ttl {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  padding-top: 38px;
}
.about .image {
  width: 70%;
  margin: 0 15% 5%;
}
.about .image .profile-img {
  width: 100%;
  border-radius: 50%;
}

/* ----------------------------------------------------------
	フッター	
---------------------------------------------------------- */
footer {
  margin-top: 0;
}
footer #footerInner {
  max-width: none;
  margin: 0 auto 0;
  padding: 20px 0 0;
}
footer #footerInner ul {
  border-top: #ccc 1px solid;
}
footer #footerInner ul li {
  display: block;
  margin-left: 0;
  text-align: left;
  border-bottom: #ccc 1px solid;
}
footer #footerInner ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
}
footer .footerInner2 {
  padding: 20px 0;
}
footer .footerInner2 p {
  font-size: 20px;
  font-size: 2rem;
}
footer .footerInner2 .copy {
  font-size: 10px;
  font-size: 1rem;
}
